
.lazarus-description {
	color: #666;	
}
.lazarus-description-important {
	color: #666;
	font-weight: bold;	
}

.lazarus-intbox {
	text-align: right;
	width: 40px;
}

label {
	line-height: 25px;	
}

.pref-box {
	padding: 3px;	
}
.prefWindow-dlgbuttons {
	border-top: 1px solid grey;
}

.lazarus-text-link {
	color: #0000BB;	
	text-decoration: underline;
	cursor: pointer;
}
.lazarus-text-link:hover {
	color: #0000FF;	
}

#extensions-lazarus-expireSavedFormsInterval, 
#extensions-lazarus-expireSavedFormsUnit {
	/* removing due to problems in Ubuntu */
	/*max-height: 20px;	 */
}

/* Fx on the mac is screwed */
prefpane .content-box {
	-moz-box-flex: 1;
	-moz-box-pack: start;
	-moz-box-align: start;
}

#extensions-lazarus-expireSavedForms-box {
	-moz-box-align: center;
}