
div.form-field-box {
	position: relative;
	padding: 5px;
	clear: both;
}
label {
	display: block;
	width: 200px;	
	text-align: right;
	padding-right: 10px;
	float: left;
	font-weight: bold;
}
input.text, input.password, input.hidden, textarea.textarea {
	width: 450px;
}
input.checkbox, input.radio {
	width: auto;
}

#forminfo th {
	width: 200px;	
	text-align: right;
	padding-right: 10px;
}
textarea.textarea {
	height: 200px;	
}

body {
	background-color: #000;
	color: #eee;	
}

a, a:visited {
	color: #ff8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}

#header h1 a {
	text-decoration: none;
	background: url("lazarus-logo.png") no-repeat bottom left;
	position: absolute;
	top: 25px;
	left: 32px;
	display: block;
	text-indent: -2000px;
	width: 146px;
	height: 80px;
}

#heading {
	position: absolute;
	top: 30px;
	left: 432px;
	color: #ff8;	
}

#header {
	height: 80px;
}

#container {
	position: relative;
	width: 700px;
	margin: auto;	
}
#notes {
	font-size: smaller;
	color: #888;
}

#form-box {
	border-top: 1px solid #888;	
	border-bottom: 1px solid #888;
	margin: 10px 0;
	padding: 10px 0;
}

#form-box.warning {
	background-color: #fee;
	color: #f00;
	font-weight: bold;
	padding: 10px 10px 10px 35px;
	background: #fee url("chrome://lazarus/skin/lazarus-error.png") no-repeat 10px 12px;
	border: 1px solid #f00;
}